################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/__pycache__
/.vs/Best_name/v17/TestStore/0
/.idea
/.vs
/saves
/Saves_inventory
/saves_units
